.calAddEvent{
        width: 250px;
        text-align: center;
        background-color: #c8c8c8;
        float: left;
        padding-bottom:25px;
    }
    
.addEventButton{
        margin-top:25px;
    }

 .getEventsButton{
        margin-left: 290px;
    }
    
.calEvents {
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
    
.event{
        margin-bottom: 35px;
    }
    
.eventTitle{
        font-weight:bold;
    }